
@{
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <h3 class="text-info">Rent OÜ</h3>
            <pre>
Pärnu, Eesti
Contact No : +372 50 12 034
            </pre>
        </div>
    </div>
    <div>
        <div>
            <h4 class="bg-info text-white">Driver Details</h4>
            <pre>
Name :
Address : 
Contact Number : 
Experience : 
            </pre>
        </div>
        <div class="col-4 offset-4">
            <div class="p-4">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mt-3 p-3">
                <table class="table table-responsive table-bordered bg-white text-center">
                    <thead class="text-info">
                        <tr>
                            <th>Id</th>
                            <th>PickUp</th>
                            <th>DropOff</th>
                            <th>PickUp Date</th>
                            <th>DropOff Date</th>
                            <th>Total Run</th>
                            <th>Brand</th>
                            <th>Model</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>